:root {
    --dark-violet: hsl(278, 94%, 30%);
    --red: hsl(0, 100%, 66%);
    --white: hsl(0, 0%, 100%);
    --light-grayish-violet: hsl(270, 3%, 87%);
    --dark-grayish-violet: hsl(279, 6%, 55%);
    --very-dark-violet: hsl(278, 68%, 11%);
    --radius-number: 8px;
}

* {
    font-family: 'Space Grotesk', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 240px;
    background-image: url(/images/bg-main-mobile.png);
    background-size: 100%;
}

#card {
    width: 290px;
    height: 160px;
}

.back-card {
    transform: translate(30px, -10px);
}

.front-card {
    position: absolute;
    z-index: 1;
    transform: translate(-35px, 80px);
}

.cvc-display {
    z-index: 1;
    color: var(--white);
    transform: translate(-25px, -12px);
    font-size: 10px;
    letter-spacing: 1px;
}

.card-details-container {
    width: 290px;
    height: 160px;
    position: absolute;
    z-index: 2;
    transform: translate(-35px, 80px);
    padding: 20px;
}

.card-logo {
    position: absolute;
    width: 55px;
    height: 30px;
}

.card-number-display {
    color: var(--white);
    font-size: 18px;
    padding-top: 65px;
    letter-spacing: 2.5px;
}

.cardholder-exp-display-block {
    color: var(--white);
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding-top: 25px;
    display: flex;
    flex-direction: row;
}

.exp-display-block {
    position: absolute;
    display: flex;
    flex-direction: row;
    transform: translate(215px, 0px);
}

.complete-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 90px;
}

.complete-icon {
    width: 80px;
    height: 80px;
}

.complete-heading {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 28px;
    color: var(--very-dark-violet);
    margin-top: 35px;
}

.complete-message {
    color: var(--dark-grayish-violet);
    margin: 20px 0px 45px 0px;
    font-size: 18px;
}

form {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 75px 75px auto;
    padding: 90px 40px 20px 40px;
    gap: 5px;
}

label {
    text-transform: uppercase;
    font-size: 12px;
    grid-column: span 2;
    letter-spacing: 1px;
    color: var(--very-dark-violet);
    margin-bottom: 2px;
}

::placeholder {
    color: var(--light-grayish-violet);
}

input {
    width: 330px;
    height: 45px;
    border-radius: var(--radius-number);
    padding: 15px;
    font-size: 18px;
    border-style: solid;
    border-width: 0.8px;
    border-color: var(--light-grayish-violet);
    outline: none;
}

input:focus {
    border-color: var(--dark-violet);
}

input:hover {
    cursor: pointer;
}

#cardholder-name {
    grid-column: 1 / span 3;
}

#cardholder-error {
    grid-column: 1 / span 3;
}

#card-number {
    grid-column: 1 / span 3;
}

#card-number-error {
    grid-column: 1 / span 3;
}

#expiry-date-month {
    grid-column: 1 / span 1;
    width: 75px;
}

#expiry-date-year {
    grid-column: 2 / span 1;
    grid-row: 8;
    width: 75px;
}

#exp-month-error {
    grid-column: 1 / span 1;
}

#exp-year-error {
    grid-column: 2 / span 1;
}

#cvc {
    grid-column: 3 / span 1;
    grid-row: 8;
    width: 170px;
}

#cvc-label {
    grid-row: 7;
    grid-column: 3 / span 1;
}

#cvc-error {
    grid-column: 3 / span 1;
}

.error-message {
    color: var(--red);
    font-size: 10px;
    margin-bottom: 10px;
}

button {
    width: 330px;
    height: 55px;
    border-radius: var(--radius-number);
    border: none;
    background-color: var(--very-dark-violet);
    color: var(--white);
    font-size: 18px;
    margin-top: 10px;
}

button:hover {
    cursor: pointer;
}

.attribution {
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 5px;
    width: 100%;
    font-size: 11px;
    color: var(--very-dark-violet);
}

a {
    color: var(--dark-grayish-violet);
}

@media only screen and (min-width: 1000px) {
    main {
        display: flex;
        flex-direction: row;
    }

    label {
        margin-top: 5px;
        margin-bottom: 3px;
    }

    .card-container {
        width: 33%;
        height: 100vh;
        background-image: url(images/bg-main-desktop.png);
        background-size: 100vh;
        margin: 0;
    }

    #card {
        width: 450px;
        height: 250px;
    }

    .back-card {
        transform: translate(325px, 170px);
    }

    .front-card {
        transform: translate(220px, -120px);
    }

    .card-details-container {
        width: 450px;
        height: 250px;
        padding: 30px;
        transform: translate(220px, -120px);
    }

    .card-number-display {
        font-size: 28px;
        padding-top: 115px;
        letter-spacing: 4px;
    }

    .cardholder-exp-display-block {
        font-size: 13px;
        padding-top: 35px;
        letter-spacing: 2px;
    }

    .exp-display-block {
        font-size: 13px;
        letter-spacing: 2px;
        transform: translate(340px, 0px);
    }

    .card-logo {
        width: 84px;
        height: 47px;
    }

    .cvc-display {
        font-size: 13px;
        transform: translate(235px, 168px);
        letter-spacing: 2px;
    }

    .form-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67%;
    }

    .complete-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 67%;
        display: none;
        margin-right: 200px;
    }

    form {
        grid-template-columns: 80px 80px auto;
        margin-right: 200px;
    }

    .error-message {
        font-size: 13px;
    }

    #cvc-label {
        margin-left: 10px;
    }

    #cvc {
        width: 200px;
        margin-left: 10px;
    }

    input {
        width: 380px;
    }

    button {
        width: 380px;
        margin-top: 20px;
    }
}
