@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
    --orange: hsl(25, 97%, 53%);
    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(217, 12%, 63%);
    --medium-grey: hsl(216, 12%, 54%);
    --dark-blue: hsl(213, 19%, 18%);
    --very-dark-blue: hsl(216, 12%, 8%);
}

* {
    font-family: 'Overpass', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    background: var(--very-dark-blue);
}

.main-container {
    transition: transform 0.8s;
    transform-style: preserve-3d;
    perspective: 500px;
}

.rating-container {
    width: 330px;
    height: 360px;
    background: linear-gradient(
        160deg,
        var(--dark-blue) -30%,
        var(--very-dark-blue) 150%
    );
    border-radius: 5%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 40px hsla(0%, 0%, 0%, 0.3);
}

.star-container {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--dark-blue);
}

.star-icon {
    width: 17px;
    height: 16px;
}

.rating-heading {
    font-size: 25px;
    color: var(--white);
    padding: 20px 0 15px 0;
    font-weight: 600;
}

.description {
    color: var(--medium-grey);
    font-size: 14px;
    line-height: 20px;
}

.rating-button-container {
    padding: 25px 0 20px 0;
    display: flex;
    justify-content: space-between;
}

.rating-button {
    width: 43px;
    height: 43px;
    border: none;
    border-radius: 50%;
    background-color: var(--dark-blue);
    color: var(--light-grey);
    text-align: center;
    padding: 15px;
    font-size: 14px;
}

input:checked + .rating-button {
    background-color: var(--medium-grey);
    color: var(--white);
}

input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.submit-button {
    width: 280px;
    height: 45px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    border-radius: 30px;
    letter-spacing: 2px;
    font-size: 14px;
    padding-left: 10px;
}

.attribution {
    position: absolute;
    bottom: 0;
    padding: 5px;
    color: var(--medium-grey);
    font-size: 12px;
}

a {
    color: var(--white);
    font-size: 12px;
}

a:hover {
    color: var(--orange);
}

.thank-you-container {
    width: 330px;
    height: 360px;
    background: linear-gradient(
        160deg,
        var(--dark-blue) -30%,
        var(--very-dark-blue) 150%
    );
    border-radius: 5%;
    padding: 35px;
    box-shadow: 0px 0px 40px hsla(0%, 0%, 0%, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    display: none;
}

.thank-you-illustration {
    width: 140px;
    height: 93px;
}

.selection-message {
    background-color: var(--dark-blue);
    color: var(--orange);
    font-size: 14px;
    border-radius: 20px;
    padding: 9px 10px 7px 10px;
    margin: 25px;
    width: 170px;
    transform: translate(18px, 0px);
}

.thank-you-heading {
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
    padding-bottom: 15px;
}

.thank-you-message {
    color: var(--light-grey);
    font-size: 14px;
    line-height: 20px;
}

@keyframes flip {
    100% {
        transform: rotateY(360deg);
    }
}

@media only screen and (min-width: 450px) {
    .rating-container {
        width: 415px;
        height: 420px;
        border-radius: 6%;
        padding: 35px;
    }

    .star-container {
        width: 50px;
        height: 50px;
    }

    .rating-heading {
        padding-top: 30px;
        font-size: 28px;
        font-weight: 600;
    }

    .description {
        font-size: 15px;
        line-height: 23px;
    }

    .rating-button-container {
        padding: 30px 0 30px 0;
    }

    .rating-button {
        width: 50px;
        height: 50px;
        font-size: 15px;
        padding: 16px;
    }

    .rating-button:hover {
        cursor: pointer;
        background-color: var(--orange);
        color: var(--white);
        transform: translateY(-3px);
    }

    .submit-button {
        width: 345px;
        height: 45px;
        font-size: 15px;
        padding-top: 2px;
        position: relative;
        overflow: hidden;
    }

    .submit-button > span {
        text-align: center;
        position: relative;
    }

    .submit-button::before {
        content: '';
        position: absolute;
        width: 345px;
        height: 45px;
        background-color: var(--white);
        transform: translate(-490px, -14px);
        transition: 0.5s;
    }

    .submit-button:hover {
        color: var(--orange);
        transition: 0.5s;
        cursor: pointer;
    }

    .submit-button:hover::before {
        transform: translate(-144px, -14px);
        transition: 0.5s;
    }

    .thank-you-container {
        width: 415px;
        height: 420px;
        background: linear-gradient(
            160deg,
            var(--dark-blue) -30%,
            var(--very-dark-blue) 150%
        );
        border-radius: 6%;
        padding: 37px;
        box-shadow: 0px 0px 40px hsla(0%, 0%, 0%, 0.3);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        display: none;
    }

    .thank-you-illustration {
        width: 162px;
        height: 108px;
    }

    .selection-message {
        font-size: 15px;
        margin: 30px;
        width: 180px;
        transform: translate(50px, 0px);
    }

    .thank-you-heading {
        font-size: 28px;
    }

    .thank-you-message {
        font-size: 15px;
        line-height: 25px;
    }
}
