@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --white: hsl(0, 0%, 100%);
    --cyan: hsl(178, 100%, 50%);
    --light-blue: hsl(215, 51%, 70%);
    --navy: hsl(217, 54%, 11%);
    --light-navy: hsl(216, 50%, 16%);
    --grayish-blue: hsl(215, 32%, 27%);
    --opaque-cyan: hsla(178, 100%, 50%, 0.5);
    --opaque-black: hsla(0, 0%, 0%, 0.3);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--navy);
    font-size: 18px;
}

.container {
    width: 355px;
    height: 600px;
    background-color: var(--light-navy);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 25px;
    box-shadow: 0 0 40px var(--opaque-black);
}

.NFT {
    width: 305px;
    height: 305px;
    border-radius: 10px;
}

h1 {
    font-size: 22px;
    color: var(--white);
    padding: 20px 0 20px 0;
}

h1:hover {
    cursor: pointer;
    color: var(--cyan);
}

.discription {
    color: var(--light-blue);
    font-weight: 300;
    line-height: 1.5;
}

.price-container {
    display: flex;
    flex-direction: row;
}

.price {
    color: var(--cyan);
    padding: 20px 0 20px 18px;
    font-weight: 600;
    font-size: 16px;
    width: 50%;
}

.time {
    width: 50%;
    padding: 20px 0 15px 72px;
    color: var(--light-blue);
    font-size: 16px;
    font-weight: 300;
}

hr {
    height: 1px;
    background-color: var(--grayish-blue);
    color: var(--grayish-blue);
    border-width: 0;
}

.artist-container {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.avatar {
    width: 35px;
    height: 35px;
    border: 1px solid;
    border-radius: 50%;
    border-color: var(--white);
}

.attribution {
    position: absolute;
    bottom: 0;
    padding: 5px;
    font-size: 15px;
    color: var(--light-blue);
}

a {
    color: var(--white);
}

a:hover {
    color: var(--cyan);
}

.NFT-attribution {
    color: var(--light-blue);
    font-size: 16px;
    padding: 5px 0 0 15px;
}

.artist-name {
    color: var(--white);
    font-size: 16px;
    padding: 5px 0 0 4px;
}

.artist-name:hover {
    cursor: pointer;
    color: var(--cyan);
}

.ethereum-icon {
    height: 18px;
    width: 11px;
    position: absolute;
    transform: translate(0px, 20px);
}

.clock-icon {
    height: 17px;
    width: 17px;
    position: absolute;
    transform: translate(200px, 22px);
}

.overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 305px;
    height: 305px;
    border-radius: 10px;
    background-color: var(--opaque-cyan);
    opacity: 0;
}

.overlay:hover {
    cursor: pointer;
    opacity: 1;
}
